.none {
    display: none;
}

.absolute {
    position: absolute;
}

input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
    font-family: inherit;
    text-align: center;
}