.comment {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 20px;
    padding-top: 25px;

}

.quotes {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.quote {
    font-size: 20px;
}

.comment__buttons{
    display: flex;
    justify-content: end;
    gap: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.comment__buttons button{
    background-color: inherit;
    border: none;
    font-family: inherit;
    font-size: 20px;
}