.focus-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-button {
    border: 1px solid black;
    background-color: var(--mon-white);

    border-radius: 15px;
    padding: 5px 15px;
    font-family: inherit;
}

.focus-links__header {
    display: flex;
    gap: 20px;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--mon-black);
    border-radius: 10px;
    padding: 10px;
    max-height: 220px;

    overflow-x: visible;
    overflow-y: scroll;
}

.links::-webkit-scrollbar{
    display: none;
}

.link {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    padding-right: 5px;
    border: 1px solid var(--mon-white);
    border-radius: 5px;
}

.fav-icon {
    width: 15px;
}

.new-input-link {
    background-color: var(--mon-white);
    border: none;
    border-bottom: 1px solid var(--mon-black);
    width: 90%;
    padding: 5px;
    font-family: inherit;
}

.pop-up {
    position: fixed;
    top: 55px;
    left: 20px;
    width: 25%;
    height: 100px;

    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--mon-white);
    border : 1px solid var(--mon-black);
    border-radius: 10px;

    padding: 10px;

    transition: 3s ease-in-out;
}

.pop-up div:first-child {
    display: flex;
    justify-content: end;
}

.pop-up div:last-child {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    gap:10px;
}

.pop-up button {
    background-color: var(--mon-white);
    /* border: 1px solid var(--mon-black); */
    border:none;
    border-radius: 10px;
    font-size: 20px;
}

.pop-up div:first-child button{
    border: none;
    font-size:20px;
}

.pop-up div:last-child input {
    height: 25px;
    font-size: 20px;
}

.pop-up div:last-child input::placeholder{
    color: var(--mon-black);
    font-size: 20px;
}

.revise-link:focus {
    border-bottom: 1px solid var(--mon-black);
}

.revise-link:focus .revise-link::placeholder {
    color: var(--mon-white);
}