.clock-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

.time {
    font-weight: 800;
    font-size: 45px;
}

.masterpiece-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.masterpiece-container img{
    width: 90%;
    max-height: 150px;
    /* height: 50%; */
    object-fit: cover;
}